@charset "utf-8";

html, body {
    height: 100%; /* 必要な高さを確保するため */
    margin: 0;
}

body{
    font-family: "Hiragino Kaku Gothic ProN", "Yu Gothic", "Meiryo", sans-serif;
    background-color: #dddddd;
    margin: 0 auto;
    max-width: 1000px;
    padding: 50px 0;
    align-items: center;     /* 垂直方向の中央揃え */
    display: flex;
    flex-direction: column;
}

.footer{
    color: #dddddd;
    background-color: black;
    padding: 20px;
    text-align: center;
    margin-top: 50px; /* フッターの上にスペースを追加 */
    width: 100%;
    position: relative;
    bottom: 0;
}

h3{
    font-size: 24px;
}

li{
    font-size: 20px;

}

p{
    font-size: 22px;
}

h1{
    text-align: center;
    border-bottom: solid 4px #17aab5;
}

h2{
    font-size: 26px;
    text-align: center;
}

.sento{
    counter-reset: q-counter 0;
}

a{
    font-size: 25px;
}


/* styles.css */
button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    color: #666666;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

.submit-botton {
    text-align: center;
}

.checkbox{
    size: 30px;
}

td{
    border: 1px solid #888888;
    padding: 6px;
}

table{
    border-collapse: collapse;
    border: 2px solid #888888;
}